<%- layout("/layouts/boilerplate.ejs") %>
<div class="card ms-auto mt-5 p-3 root">
      <h5 class="card-title">Welcome to Wanderlust</h5>
      <p class="card-text">Airbnb was born in 2007 when two Hosts welcomed three guests to their San Francisco home, and has since grown to over 5 million Hosts who have welcomed over 1.5 billion guest arrivals in almost every country across the globe. Every day, Hosts offer unique stays and experiences that make it possible for guests to connect with communities in a more authentic way.</p>
      <a href="/listing" class="btn btn-light">Go To Home Page</a>
    <!-- </div> -->
  </div>